<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Contato</title>
</head>
<body>
    <h1>Formulário de Contato</h1>
    <a href="/acessos">Acessos</a>
    <a href="/contatos">Contatos</a>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper mi nec quam vehicula tristique. Curabitur egestas, dolor nec posuere dictum, dolor quam eleifend lacus, a pretium est felis quis diam. Ut pulvinar nisl quis dui cursus porta. Nullam eu suscipit justo, eu rhoncus magna. Duis commodo bibendum dui id fermentum. Nullam rhoncus sagittis mauris nec fringilla. Etiam hendrerit varius fermentum. Vestibulum ut leo nunc. Mauris eu metus pulvinar, dictum turpis eget, aliquam mauris. Etiam ac ligula tincidunt metus aliquam tincidunt. Nam id magna at neque tincidunt fringilla vel sed massa. Morbi non accumsan sapien. Quisque non purus massa. Suspendisse lorem quam, pharetra quis dolor sed, luctus volutpat massa. Aenean tincidunt luctus sodales.</p>
    <p>Ut quis mattis mi. Curabitur ullamcorper ut mi eu sodales. Nam condimentum lacinia sapien, sagittis blandit orci tincidunt sed. Nullam leo lacus, ornare eget dui at, consectetur malesuada odio. Pellentesque viverra volutpat semper. Integer consequat risus a iaculis eleifend. Nunc mattis ultricies lacus ut finibus. Donec ullamcorper velit quis tellus interdum, a malesuada purus mattis. Donec gravida ipsum a porttitor efficitur. Nam id nulla ut risus condimentum pulvinar quis varius neque. Aliquam tincidunt nibh ut scelerisque consectetur. Sed quis nunc magna. Fusce pellentesque diam id nisi porta, eget fermentum enim placerat. Mauris nec bibendum libero.</p>
    <p>Motivo qualquer para perguntar dados...</p>
    </p>
    <form method="POST">
        <label>Nome Completo:<br>
            <input type="text" name="nome" required>
        </label><br><br>

        <label>Telefone:<br>
            <input type="text" name="telefone" required>
        </label><br><br>

        <label>E-mail:<br>
            <input type="email" name="email" required>
        </label><br><br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
